In [2]:
import pandas as pd
import numpy as np

### Read file VeloV.sample.csv with NaN column

In [ ]:
columns = ['ID', 'time-stamp', 'hour', 'day-of-week', 'available-bike-stands', 'available-bikes', 'nan']
df = pd.read_csv('./VeloV.sample.csv', header=None, names=columns,
                sep=';')
df.head()

### Read file VeloV.csv with NaN column

In [3]:
columns = ['ID', 'time-stamp', 'hour', 'day-of-week', 'available-bike-stands', 'available-bikes', 'nan']
df = pd.read_csv('./VeloV.csv', header=None, names=columns, usecols = [0, 1, 2, 3, 4, 5], sep=';')
df.head()

,ID,time-stamp,hour,day-of-week,available-bike-stands,available-bikes
0,10113,635304352870000000,23,Friday,20,1
1,10113,635304358900000000,23,Friday,20,1
2,10113,635304364930000000,23,Friday,20,1
3,10113,635304370970000000,23,Friday,20,1
4,10113,635304377010000000,23,Friday,20,1

In [4]:
# Extract station 1001
idStation = 1001
df = df[(df['ID'] == idStation)]
df

,ID,time-stamp,hour,day-of-week,available-bike-stands,available-bikes
1726,1001,635304349160000000,23,Friday,1,14
1727,1001,635304349860000000,23,Friday,1,14
1728,1001,635304350550000000,23,Friday,3,12
1729,1001,635304356590000000,23,Friday,3,12
1730,1001,635304357220000000,23,Friday,3,12
1731,1001,635304357700000000,23,Friday,4,11
1732,1001,635304357960000000,23,Friday,4,11
1733,1001,635304360180000000,23,Friday,6,9
1734,1001,635304361450000000,23,Friday,6,9
1735,1001,635304362030000000,23,Friday,6,9
1736,1001,635304362650000000,23,Friday,8,7
1737,1001,635304364810000000,23,Friday,7,8
1738,1001,635304367720000000,23,Friday,8,7
1739,1001,635304370230000000,23,Friday,8,7
1740,1001,635304370480000000,23,Friday,9,6
1741,1001,635304373460000000,23,Friday,7,8
1742,1001,635304375800000000,23,Friday,6,9
1743,1001,635304376250000000,23,Friday,8,7
1744,1001,635304382290000000,23,Friday,8,7
5280,1001,635304385410000000,0,Saturday,9,6
5281,1001,635304389450000000,0,Saturday,7,8
5282,1001,635304393840000000,0,Saturday,7,8
5283,1001,635304394300000000,0,Saturday,8,7
5284,1001,635304396110000000,0,Saturday,8,7
5285,1001,635304396440000000,0,Saturday,9,6
5286,1001,635304397450000000,0,Saturday,9,6
5287,1001,635304397950000000,0,Saturday,11,4
5288,1001,635304398640000000,0,Saturday,9,6
5289,1001,635304399210000000,0,Saturday,9,6
5290,1001,635304399530000000,0,Saturday,9,6
...,...,...,...,...,...,...
52415858,1001,635829151640000000,8,Thursday,14,1
52415859,1001,635829153770000000,8,Thursday,14,1
52415860,1001,635829153800000000,8,Thursday,15,0
52415861,1001,635829155500000000,8,Thursday,14,1
52415862,1001,635829155790000000,8,Thursday,15,0
52419996,1001,635829158050000000,9,Thursday,14,1
52419997,1001,635829164080000000,9,Thursday,14,1
52419998,1001,635829168660000000,9,Thursday,14,1
52419999,1001,635829168930000000,9,Thursday,15,0
52420000,1001,635829174970000000,9,Thursday,15,0
52420001,1001,635829178290000000,9,Thursday,14,1
52420002,1001,635829179350000000,9,Thursday,14,1
52420003,1001,635829179780000000,9,Thursday,14,1
52420004,1001,635829185820000000,9,Thursday,14,1
52420005,1001,635829191860000000,9,Thursday,14,1
52424018,1001,635829197790000000,10,Thursday,13,2
52424019,1001,635829204040000000,10,Thursday,13,2
52424020,1001,635829204350000000,10,Thursday,14,1
52424021,1001,635829210380000000,10,Thursday,14,1
52424022,1001,635829212540000000,10,Thursday,13,2
52424023,1001,635829212850000000,10,Thursday,14,1
52424024,1001,635829213570000000,10,Thursday,15,0
52424025,1001,635829214360000000,10,Thursday,15,0
52424026,1001,635829215060000000,10,Thursday,14,1
52424027,1001,635829216110000000,10,Thursday,13,2
52424028,1001,635829216460000000,10,Thursday,14,1
52424029,1001,635829222710000000,10,Thursday,14,1
52424030,1001,635829223100000000,10,Thursday,14,1
52424031,1001,635829225700000000,10,Thursday,14,1
52424032,1001,635829225980000000,10,Thursday,15,0

### Drop NaN column

In [ ]:
df = df.drop(['nan'], axis=1)

In [ ]:
df.head()

### Reformat Time-Stamp
This is code below for testing an example time-stamp: 63530435287000000

In [5]:
from datetime import datetime, timedelta, timezone
epoch = datetime(1, 1, 1, tzinfo=timezone.utc)
cookie_microseconds_since_epoch = 63530435287000000
cookie_datetime = epoch + timedelta(microseconds=cookie_microseconds_since_epoch)
str(cookie_datetime)

'2014-03-14 23:08:07+00:00'

### Apply for the whole data set

In [6]:
df['time-stamp'] = df['time-stamp'].map(lambda x: epoch + timedelta(microseconds=int(x)/10))

In [7]:
df.head()

,ID,time-stamp,hour,day-of-week,available-bike-stands,available-bikes
1726,1001,2014-03-14 23:01:56+00:00,23,Friday,1,14
1727,1001,2014-03-14 23:03:06+00:00,23,Friday,1,14
1728,1001,2014-03-14 23:04:15+00:00,23,Friday,3,12
1729,1001,2014-03-14 23:14:19+00:00,23,Friday,3,12
1730,1001,2014-03-14 23:15:22+00:00,23,Friday,3,12

#### Acces the attributes of Time-Stamp
link https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.Timestamp.html

In [ ]:
df['time-stamp'][1].hour

In [ ]:
df['time-stamp'][1].minute

In [ ]:
df['time-stamp'][1].second

### Save the reformatted file

In [ ]:
df.to_csv('./VeloVformatted.sample.csv', header = True, index = False, sep = ";")

you can do the same thing with 'VeloV.csv'

In [8]:
df.to_csv('./VeloV1001formatted.csv', header = True, index = False, sep = ";")